 <table style="width: 100%;">
    <thead>
      <tr>
        <th>Name</th>
        <tr><td colspan="1" style="border-bottom: 1px solid black; min-height: 20px;"></td></tr>
      </tr>
    </thead>
    <tbody>
      <% if users.present? %>
        <% users.each do |user| %>
          <tr>
            <td class="clickable-cell" data-user-path="<%= admin_daily_report_path(user.id) %>">
              <div style="cursor: pointer;"><%= user.name %></div>
            </td>
          </tr>
          <tr><td colspan="1" style="border-bottom: 1px solid black;"></td></tr>
        <% end %>
      <% else %>
        <tr><td colspan="1" style="text-align: center;">No Daily Reports Present</td></tr>
      <% end %>
 </table>
    <div class="pagination-container">
 <%= will_paginate @users, renderer: PaginationHelper::DailyReportsRenderer, remote: true %>  
  </div>
    </tbody>