<div class="reportTable">
  <div class="report-top">
    <h2><strong>Daily Report</strong></h2>
    <p><%= @daily_report.created_at.strftime("%d %B, %Y") %></p>
  </div>

<div class="report-detail">
  <ul>
    <% if @daily_report.report.present?%>
      <% @daily_report.report.split("\n").each do |line| %>
      <li><%= line %></li>
      <% end %>
    <% else %>
      <p>N/A</p>
    <% end %>
  </ul>
</div>

</div>
