body.login-page {
     margin: 0;
     padding: 0;
     font-family: Roboto;
     background-repeat: no-repeat;
     background-size: cover;
     background: linear-gradient(120deg, hsl(37, 100%, 50%), #f2eff0);
     height: 100vh;
     overflow: hidden;
   }
   
   .center{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 29vw;
     background: white;
     border-radius: 10px;
   }
   
   .center h1{
     text-align: center;
     padding: 0 0 20px 0;
     border-bottom: 1px solid silver;
   }
   
   .center form{
     padding: 0 40px;
     box-sizing: border-box;
   }
   
   form .txt_field{
     position: relative;
     border-bottom: 2px solid #adadad;
     margin: 30px 0;
   }
   
   .txt_field input{
     width: 100%;
     padding: 0 5px;
     height: 40px;
     font-size: 16px;
     border: none;
     background: none;
     outline: none;
   }
   
   .txt_field label{
     position: absolute;
     top: 50%;
     left: 5px;
     color: #adadad;
     transform: translateY(-50%);
     font-size: 16px;
     pointer-events: none;
   }
   
   .txt_field span::before{
     content: '';
     position: absolute;
     top: 40px;
     left: 0;
     width: 0px;
     height: 2px;
     transition: .5s;
   }
   
   .txt_field input:focus ~ label,
   .txt_field input:valid ~ label{
     top: -5px;
   }
   
   .txt_field input:focus ~ span::before,
   .txt_field input:Valid ~ span::before{
     width: 100%;
   }
   
   .pass{
     margin: -5px 0 20px 5px;
     color: #a6a6a6;
     cursor: pointer;
   }
   
   .pass:hover{
     text-decoration: underline;
   }
   
   input[type="Submit"]{
     width: 100%;
     height: 50px;
     border: 1px solid;
     border-radius: 25px;
     font-size: 18px;
     font-weight: 700;
     cursor: pointer;
     background: #ff6700;
     color: white;

   }
   
   input[type="Submit"]:hover{
     background: #ff6700;
     color: #e9f4fb;
     transition: .5s;
   }
   
   .signup_link{
     margin: 30px 0;
     text-align: center;
     font-size: 16px;
     color: #666666;
   }
   
   .signup_link a{
     text-decoration: none;
   }
   
   .signup_link a:hover{
     text-decoration: underline;
   }
   
   .HomeAbout{
     width: 100vw;
     height: 25vh;
   }

   .header {
     overflow: hidden;
     background-color: #f1f1f1;
     padding: 20px 10px;
   }
   
   .header a {
     float: left;
     color: black;
     text-align: center;
     padding: 12px;
     text-decoration: none;
     font-size: 18px;
     line-height: 25px;
     border-radius: 4px;
   }
   
   .header a.logo {
     font-size: 25px;
     font-weight: bold;
   }
   
   .header a:hover {
     background-color: #ddd;
     color: black;
   }
   
   .header a.active {
     background-color: dodgerblue;
     color: white;
   }
   
   .header-right {
     float: right;
   }
   
   @media screen and (max-width: 500px) {
     .header a {
       float: none;
       display: block;
       text-align: left;
     }
     .header-right {
       float: none;
     }
   }

   .logo img {
     width: 110px;
     height: auto;
 }

 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   
   .sign-out-button {
     background-color: #ff6700;
     border: none;
     color: white;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin-right: 10px;
     border-radius: 5px;
     cursor: pointer;
   }
   
   .sign-out-button:hover {
     background-color: #ff6700;
   }
   
   .content {
     background-color: #f9f9f9; /* Off-white background color for the content */
     padding: 20px;
     height: 700px;
   }

   .button-container {
     display: flex;
     margin-top: 20px;

   }

   .timer {
    flex-direction: column;
    align-items: flex-start;
   }
   
   .button {
     padding: 10px 20px;
     margin: 0 10px;
     font-size: 16px;
     font-weight: bold;
     text-align: center;
     text-decoration: none;
     border: 2px solid #ff6700; /* Border color */
     border-radius: 5px;
     color: #ff6700; /* Text color */
     background-color: transparent; /* Transparent background color */
     cursor: pointer;
   }
   
   .button:hover {
     background-color: #ff6700; /* Background color on hover */
     color: #fff; /* Text color on hover */
   }
   
   #timerDisplay {
    display: block; /* Make the timer display as a block-level element */
    }

    table {
     width: 100%;
     border-collapse: collapse;
   }
   
   th, td {
     border: 1px solid #ddd;
     padding: 8px;
     text-align: left;
   }
   
   th {
     background-color: #f2f2f2;
   }

   .styled-form {
     max-width: 400px;
     margin: 0 auto;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
     background-color: #f9f9f9;
   }
 
   .styled-form label {
     display: block;
     margin-bottom: 5px;
   }
 
   .styled-form input[type="text"],
   .styled-form input[type="email"],
   .styled-form textarea {
     width: 100%;
     padding: 8px;
     margin-bottom: 15px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box; /* Ensure padding is included in width */
     font-size: 16px;
   }
 
   .styled-form input[type="submit"] {
     background-color: #ff6700;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 16px;
   }
 
   .styled-form input[type="submit"]:hover {
     background-color: #ff6700;
   }

   body {
     font-family: Arial, sans-serif;
   }
   
   /* Form container */
   .form-container {
     width: 500px; /* Adjust width as needed */
     margin: 0 auto; /* Center the form horizontally */
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
   }
   
   /* Error message */
   .error-message {
     color: red;
     border: 1px solid red;
     border-radius: 5px;
     padding: 10px;
     margin-bottom: 15px;
   }
   
   /* Labels */
   .label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
   }
   
   /* Input fields */
   .text-field,
   .email-field,
   .password-field {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 3px;
     box-sizing: border-box; /* Include padding in width calculation */
     margin-bottom: 15px;
   }
   
   /* Submit button */
   .submit-button {
     background-color: #ff6700;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
   }
   
   /* Hover effect for submit button */
   .submit-button:hover {
     background-color: #ff6700	;
   }

   .styled-button {
     display: inline-block;
     padding: 10px 20px;
     background-color: #ff6700; /* Green */
     border: none;
     border-radius: 5px;
     color: white;
     text-align: center;
     text-decoration: none;
     font-size: 16px;
     cursor: pointer;
     transition-duration: 0.4s;
   }
   
   .styled-button:hover {
     background-color: #ff6700; /* Darker Green */
   }
   
