.forgot-body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

.forgot-container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot-title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

.forgot-eclipse {
  width: 111px;
  height: 111px;
  margin-bottom: 30px;
}

.forgot-lock-icon {
  position: fixed;
  width: 42px;
  height: 49px;
  margin-top: 30px;
  margin-left: -75px;
}

.forgot-content {
  width: 405px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #7a8699;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .forgot-content {
    width: 320px;
  }
}

.forgot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.forgot-field {
  width: 300px;
  height: 40px;
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid #dfe2e6;
  color: #7a8699;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.forgot-btn {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  background: #f89320;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.signin-error-message{
  margin-top: -12px;
  font-size: 12px;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-right: 20px;
  color: #C0220C;
  font-family: Poppins;
  font-weight: 400;
  line-height: 18.48px;
  text-align: left;
}

.forgot-error-message{
  margin-top: 5px;
  font-size: small !important;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-right: 20px;
  color: #C0220C;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.48px;
  text-align: left;
}

.forgot-back-btn {
  opacity: 0px;
  color: #000000;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.forgot-back-box {
  margin-top: 50px;
}

.employee-container {
  position: fixed;
  width: 1190px;
  height: 1024px;
  left: 250px;
  padding: 106px 0px 404px 0px;
  gap: 0px;
  opacity: 0px;
  background: blue;
}

.employee-profile-card{
  width: Hug (342px)px;
  height: Hug (514px)px;
  top: 106px;
  left: 424px;
  gap: 50px;
  opacity: 0px;
}

.forgot-link-align {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dashboard-table-container {
  border-collapse: collapse;
  width: 90%;
  margin-top: 20px;
  background: #FFFFFF;
}

.dashboard-table-lines {
  border-bottom: 1px solid #F1F1F1;
}

.dashboard-table-lines th, .dashboard-table-lines td {
  padding: 15px;
  text-align: left;
  height: auto;
  vertical-align: middle;
}

.dashboard-table-container thead th {
  padding: 12px 8px;
}

.table-first-column {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #536779;
}

.table-second-column {
  padding: 8px 12px 8px 12px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: -0.03em;
  color: #00B208;
}

.table-second-column  span {
  position: relative;
  display: block;
  width: 63px;
  text-align: center;
  background: #D6FFD8;
  padding-top: 8px;;
  padding-bottom: 2px;
}
