  .forgot-body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
  }

  .forgot-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .forgot-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
  }

  .forgot-eclipse {
    width: 111px;
    height: 111px;
    margin-bottom: 30px;
  }

  .forgot-lock-icon {
    position: fixed;
    width: 42px;
    height: 49px;
    margin-top: 30px;
    margin-left: -75px;
  }

  .forgot-content {
    width: 405px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #7a8699;
    margin-top: 20px;
  }

  .forgot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .forgot-field {
    width: 300px;
    height: 40px;
    margin-top: 25px;
    border-radius: 10px;
    border: 1px solid #dfe2e6;
    color: #7a8699;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .forgot-btn {
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background: #f89320;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .forgot-error-message{
    color: red;
    margin-top: 5px;
    font-size: small;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .forgot-back-btn {
    position: fixed;
    width: 97px;
    height: 8px;
    top: 700px;
    left: 792px;
    gap: 0px;
    opacity: 0px;
    color: #000000;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
  }
