:root {
  --color1: #899dab;
  --color2: #f0f3f4;
  --color3: #344054;
  --color4: #667085;
  --color5: #d4d8dd;
  --color6: #666666;
  --color7: #f89320;
  --color8: #999999;
  --color12: #15294b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f9fe !important; /* off-white background */
}

i {
  color: var(--color1);
}

.main-content {
  background-color: #f7f9fe !important ;
  margin-left: 285px;
  margin-right: 35px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  gap: 30px;
  margin: 20px 0 0 0;
}

.request-button {
  border-radius: 10px !important;
}

.profile-image {
  width: 46px !important;
  height: 46px !important;
}

.sign-out-button {
  width: 136px;
}
.notification {
  background-color: var(--color2);
  height: 40px;
  width: 40px;

  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification i {
  font-size: 18.6px;
  width: 18.6px;
  height: 21.55px;
}

.profile {
  width: 46px !important;
  height: 46px !important;
 background-color: transparent !important;
}

.dropdown-content {
  background-color: #fff !important;
  gap: 33px;
  z-index: 1000;
  flex-direction: column;
  width: 239px !important;
  position: absolute !important;
  top: 100px;
  left: 84%;
  right: 0;
  margin: 0 !important;
  border-radius: 10px;
  padding: 26px 22px !important;
  
  
  
  @media screen and (max-width:1440px) {
    left: 80%;
    
}
  @media screen and (max-width:1024px) {
    left: 70%;
    
}

}

.dropdown-content.show,
.notification-dropdown.show {
  display: block !important;
}

.profile .profile-pic {
  width: 32px;
  height: 32px;
}

.name-email .employe-name {
  font-size: 14px;
  font-weight: 600;
  color: var(--color3);
}
.name-email .email {
  font-size: 14px;
  font-weight: 400;
  color: var(--color4);
}

.sign-out-profile {
  gap: 20px;
}

.profile-btn,
.profile-signout-btn {
  gap: 15px;
}
.profile-btn i,
.profile-signout-btn i {
  color: var(--color5) !important;
}

.welcome-card {
  background-color: #fff;
  border-radius: 10px;
  height: 200px;
  padding: 35px;
}
.welcome-card h3 {
  font-size: 22px;
  color: var(--color6);
  font-weight: 600;
}

.welcome-card h1 {
  font-size: 30px;
  color: var(--color7);
  font-weight: 600;
}
.welcome-card p {
  font-size: 16px;
  color: var(--color8);
  font-weight: 400;
}

.welcome-card .welcome-user {
  float: left;
}

.notification-dropdown {
  display: none !important;
  background-color: #fff !important;
  gap: 40px;
  flex-direction: column;
  width: 340px !important;
  position: absolute;
  top: 100px;
  left: 73.9%;
  height: 423px;
  margin: 0 !important;
  border-radius: 10px;
  padding: 30px 28px !important;
}

@media screen and (max-width: 1440px) {
  #timerDisplay {
    font-size: 49px !important;
  }
}
@media screen and (max-width: 1024px) {
  #timerDisplay {
    margin-left: 46% !important;
    font-size: 35px !important;
  }
}

.logout-btn,
.profile-btn a {
  border: none !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: var(--color12) !important;
}
