
<div style="margin-left: 260px;">
  <div class="dashboard-table-container">
    <h4>Share Details link has been generated for the interview, you can send this link to Interviewer for reminder</h4>
    <br>
    <p><strong>Interview Details link:</strong> 
      <a id="link-to-copy" href="<%= @public_link_url %>"><%= @public_link_url %></a>
      <button id="copy-btn" class="copy-btn" onclick="copyToClipboard()">Copy Link</button>
    </p>
  </div>
</div>

<script>
    // Function to handle copying to clipboard
    function copyToClipboard() {
      var copyText = document.getElementById("link-to-copy").innerText;
      var copyButton = document.getElementById("copy-btn");

      navigator.clipboard.writeText(copyText).then(function() {
        // Update button text and style
        copyButton.innerText = "Copied";
        copyButton.classList.add("copied");

        // Store the copied state in localStorage
        localStorage.setItem("linkCopied", "true");
      }, function(err) {
        console.error("Failed to copy link: ", err);
      });
    }

    // On page load, check localStorage for copied state
    document.addEventListener("DOMContentLoaded", function() {
      var copyButton = document.getElementById("copy-btn");
      if (localStorage.getItem("linkCopied") === "true") {
        copyButton.innerText = "Copied";
        copyButton.classList.add("copied");
      }
    });
  </script>
