<div class="main-content" style="margin-left: 220px;">
<%= link_to "Add Holidays", new_holiday_path, class: "sign-out-button", id: "checkInButton", style: "float: right; margin-right: 20px; margin-bottom: 10px; margin-top: 15px;" %>
<table>
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
  
    <% @holidays.each do |item| %>
    <tr>
      <td><%= item.start_date %></td>
      <td><%= item.end_date %></td>
      <td><%= item.title %></td>
    </tr>
    <% end %>

  </tbody>
</table>
</div>
