<div id="sidebar">
  <ul>
    <span><button class="sidebar-btn" onclick="window.location.href='<%= root_path %>'">Users</button></span>
  </ul>
  <br>
    <span><button class="sidebar-btn" onclick="window.location.href='<%= admin_report_path %>'">Reports</button></span>
    <ul>
  </ul>
  <br>
    <ul>
    <span><button class="sidebar-btn" onclick="window.location.href='<%= leaves_path %>'">Leaves</button></span>
    </ul>
  <br>
    <ul>
    <span><button class="sidebar-btn" onclick="window.location.href='<%= holiday_index_path %>'">Public Holidays</button></span>
    </ul>
</div>