<p>Dear <%= @job_application.name %>,</p>
<p>
  Thank you for applying for the <%= @job_title %> position with techcreatix. We really appreciate the time and effort you put into your application.
</p>
<p>
  We have received your application and are currently reviewing it. We will be in touch soon to provide you with an update on the status of your application.
</p>
<p>
  Best regards,<br>
  HR Department<br>
  techcreatix
</p>
