<p>Dear HR,</p>
<p>
  This email is to notify you that we've received a job application from <%= @job_application.name %> for the <%= @job_title %> position. Please inform me if there are any additional requirements or actions needed from my side regarding this application.
</p>
<p>
  Best regards,<br>
  Techcreatix
</p>