<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Attendance</th>
    </tr>
  </thead>
  <tbody>
    <% @session.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.email %></td>
      <td>
      <span>
      <%= link_to 'PDF', generate_pdf_path(id: item.id, format: :pdf), class: 'styled-button' %>
      </span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

