<style>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

  .modal-footer {
    display: flex;
    justify-content: center;
    border-top: 0px !important;
    margin-bottom: 50px !important;
  }

  .modal-footer button {
    height: 45px !important;
    border: none !important;
    margin-right: 1px; /* Adjust margin as needed */
  }

  /* Optional: Center the buttons horizontally within the container */
  .modal-footer {
    align-items: center;
  }

  #timerDisplay {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }

</style>
<div class="content">
  <h1> Hi <%= current_user.name %> </h1>
  <div class="button-container">
    <% if current_user.attendances.empty? || current_user.attendances.last.check_out_time.present? %>
      <%= button_to "Check-In", create_session_path, class: "sign-out-button", id: "checkInButton" %>
    <% elsif current_user.attendances.last.check_out_time.nil? %>
      <% if current_user.attendances.last.created_at.between?(Date.today.beginning_of_day, Date.today.end_of_day) %>
        <div id="timerDisplay"></div>
      <% end %>
    <% end %>
  </div>

  <% if current_user.attendances.present? && current_user.attendances.last.created_at.between?(Date.today.beginning_of_day, Date.today.end_of_day) && current_user.attendances.last.check_out_time.nil? %>
    <div class="button-container">
      <button id="modal-btn" class="sign-out-button">Check Out</button>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <p style="text-align: center;">Are you sure you want to checkout?</p>
          <div id="timerDisplayModal"></div>
          <div class="modal-footer">
            <button id="closeModalBtn" class="close sign-out-button">No</button>
            <%= button_to "Check-Out", end_session_path, class: "sign-out-button", id: "checkOutButtonModal" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <br>
  <%= render 'attendance/user_attendance' %>
</div>




<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("modal-btn");

// Get the <span> element that closes the modal
// Get the button element for closing the modal
var closeModalBtn = document.getElementById("closeModalBtn");

// Add event listener to close the modal when the button is clicked
closeModalBtn.addEventListener("click", function() {
  modal.style.display = "none";
});

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>
