<style>
  .report-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .report-top h2 {
    margin-left: 30px;
  }

  .report-top p {
    float: right;
  }

  .report-detail{
     margin-left: 50px;
     margin-top: 30px;
  }
  

</style>

<div class="reportTable">
  <div class="report-top">
    <h2><strong>Daily Report</strong></h2>
    <p><%= @daily_report.created_at.strftime("%d %B, %Y") %></p>
  </div>

<div class="report-detail">
  <ul>
    <% if @daily_report.report.present?%>
      <% @daily_report.report.split("\n").each do |line| %>
      <li><%= line %></li>
      <% end %>
    <% else %>
      <p>N/A</p>
    <% end %>
  </ul>
</div>

</div>
