<% content_for :link_button do %>
  <div style="margin-left: 294px; position: absolute;">
    <div class="search-container" style="width: 400px">
      <%= form_with url: admin_contact_details_path, method: :get, local: false, id: 'search-form', data: { controller: 'contact_search', action: 'input->contact_search#performSearch' } do |form| %>
      <%= form.text_field :q, placeholder: 'Search by type', id: 'search-query', data: { target: 'contact_search.query' } %>
      <% end %>
      <svg class="search-icon" viewBox="0 0 24 24">
        <path d="M10 2a8 8 0 1 0 4.9 14.4l5.6 5.6 1.4-1.4-5.6-5.6A8 8 0 0 0 10 2zm0 2a6 6 0 1 1 0 12 6 6 0 0 1 0-12z"/>
      </svg>
    </div>
  </div>
<% end %>
