<%= render partial: 'search' %>
<div style="margin-left: 260px; overflow-x: auto; height: 695px;">
  <table class="dashboard-table-container">
    <thead>
      <tr class="dashboard-table-lines">
        <th>Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Project Details</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="contact-details-table">
      <%= render partial: 'admin/contact_details/contact_detail', collection: @contact_details, as: :contact_detail %>
    </tbody>
  </table>
</div>
