<%= render partial: 'search' %>
<div style="margin-left: 260px; overflow-x: auto; height: 695px;">
  <table class="dashboard-table-container">
    <thead>
      <tr class="dashboard-table-lines">
        <th>Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Project Details</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <% if @contact_details.present?%>
    <tbody id="contact-details-table">
      <%= render partial: 'admin/contact_details/contact_detail', collection: @contact_details, as: :contact_detail %>
    </tbody>
    <%else%>
      <tr><td colspan="4" style="text-align: center;">No Daily Reports Present</td></tr>
    <% end %>
  </table>
</div>

<div class="pagination-container">
  <%= will_paginate @contact_details %>
</div>