<style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .message-container {
      text-align: center;
    }
</style>
<body>
  <div class="message-container">
    <h1>Invalid IP Address</h1>
  </div>
</body>