<style>
.attendance-table {
  border-collapse: collapse;
  width: 100%;
}

.attendance-table th, .attendance-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.attendance-table th {
  background-color: #87CEEB;
  font-weight: bold;
}

.attendance-heading {
  background-color: #87CEEB;
  color: white; /* Set text color to ensure readability */
  padding: 10px; /* Add padding for better appearance */
}
.user-info {
  display: flex;
  justify-content: space-between; /* Ensure space between left and right info */
  align-items: center;
}

.left-info {
  display: flex;
  align-items: center;
}

.user-info p {
  margin-right: 10px;
}

.username {
  border-bottom: 3px dotted #000;
  padding-bottom: 2px;

}
</style>
<h1 class="attendance-heading">Leave Report</h1>
<p style="float: left; margin: 5px;">Month:  <strong><%= Date::MONTHNAMES[@month] %></strong></p>
<table class="attendance-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Leaves</th>
    </tr>
  </thead>
  <tbody>
<% @users.each do |user| %>
  <% @user_leaves_count =  @current_user_leaves = Leave.where("start_date <= ? AND end_date >= ? AND status = ? AND user_id = ?", @end_date, @start_date, 1, user.id).sum { |leave| (leave.end_date - leave.start_date).to_i + 1 }%>
    <tr>
      <td><%= user&.name %></td>
      <td><%= @user_leaves_count %></td>
      </tr>
      <% end%>
    </tbody>
  </table>
