<div class="main-content" style="margin-left: 220px; margin-top: 10px;">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Hours</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
       
        <td> <%= "#{@total_hours[user.id] / 3600 || 0} hours #{@total_hours[user.id] % 3600 / 60 || 0} minutes" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
