<div class="reportTable">
  <table style="width: 100%;">
    <thead>
      <tr>
        <th>Name</th>
        <tr><td colspan="1" style="border-bottom: 1px solid black;  min-height: 20px;"></td></tr>
      </tr>
    </thead>
    <tbody>
     <% if @users.present? %>
     <% @users.each do |user|%>
     <tr>
        <td class="clickable-cell" data-user-path="<%= admin_show_daily_report_path(user.id) %>">
          <div style="cursor: pointer; margin-top: 7px;"><%= user.name %></div>
        </td>
     </tr>
      <tr><td colspan="1" style="border-bottom: 1px solid black; min-height: 20px;"></td></tr>
     <% end %>
     <% end %>
    </tbody>
  </table>
</div>
</div>